%h1 New codigo
=# render 'form'
= form_for :image_form, :url => { :controller => "codigos", :action => :create }, :html => { :method => :post, :id => 'uploadForm', :multipart => true , :remote => true} do |f|
  %p
    = f.file_field :upload_data

  %p
    = submit_tag 'Subir fichero', :class => 'btn btn-primary'


= link_to 'Back', codigos_path
