%h1 Inicio
%p=# <strong>A</strong>ugmented <strong>R</strong>eality and <strong>Q</strong>r-codes <strong>E</strong>-<strong>L</strong>earning

%p
  = link_to t('home.asignat'), asignaturas_path, :class => 'btn btn-large btn-info'
%p
  = link_to t('home.codes'), codigos_path, :class => 'btn btn-large btn-inverse'
